[flake8]
max-complexity = 18
max-line-length = 119
select = B,C,E,F,N,W,T4,B9,C4
extend-ignore = E203, E265, E266, E501, W503, F401, F403, F405, F541
extend-exclude = .ipynb_checkpoints,.tox,.eggs,*.egg-info,ci/templates,build,dist,docs/conf.py
