# prettier should ignore
# .azureml
# .eggs
# .ipynb_checkpoints
# .obsidian
# .pytest_cache
.vscode/
.**/
dist/

*.md

# ignore local .env from versioning
.env
.envrc

coverage/
node_modules/
**/node_modules/
**/lib/
**/package.json
jupyterlab_material_night_eighties/
