include LICENSE
include README.md
include pyproject.toml
include jupyter-config/jupyterlab_material_darker.json

include package.json
include install.json
include ts*.json
include *.js
include *.lock
include *.md

graft jupyterlab_material_darker/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib
prune scss

prune binder
prune screenshots

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

exclude .eslintignore
exclude .prettierignore
exclude .prettierrc
exclude .stylelintrc
